.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: black;
  color: white;
  font-family: monospace;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: grey;
  border: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: green;
  border: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: grey;
  border: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: maroon;
}
